Things to do                            

Date : 28/5/2024
1. Get all history for everyone. (done)

Date : 31/5/2024
1. Payment terms auto-populate.
2. Plants. (done)
3. History fix for all.
4. Disable dropdown for non-editable fields. (done)
5. UI changes in weekends. 